@charset "utf-8";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*====================================
  ====================================
  = author:OKEKE DESMOND;
  =-----------------------------------
  = date:25:october:2014;
  =-----------------------------------
 ====================================
  ====================================*/

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p,a, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr,iframe {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align:baseline;
  font: inherit;
  text-decoration:none;
  list-style:none;

}
iframe {
    border: 0 none;
    width: 30%;
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, nav-menu, nav, section, summary {
  display: block;
}
html{
}
@font-face{
    font-family:"Robot-Thin";
    src: url('Roboto-Thin.ttf');
}
@font-face{
    font-family:"Robot-Black";
    src: url('Roboto-Black.ttf');
}


body{
    background-image: url('../img/grey.png');
    width:100%;
    color:000305;
    font-size:87.8%;/*base font size is 14px*/
    font-family: 'Droid Sans' 'palatino linotype';
    line-height: 1.5;
    text-align:center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
body::-webkit-scrollbar{
    width:0.8em;
}
body::-webkit-scrollbar-track{
   -webkit-box-shadow:insect 1px 2px ;
}
body::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0.60);
    outline:1px solid slategrey;
}
body::-moz-scrollbar{
    width:0.8em;
}
body::-moz-scrollbar-track{
   -moz-box-shadow:insect 1px 2px ;
}
body::-moz-scrollbar-thumb{
    background-color:rgba(0,0,0,0.60);
    outline:1px solid slategrey;
}
body::-ms-scrollbar{
    width:0.8em;
}
body::-ms-scrollbar-track{
   -ms-box-shadow:insect 1px 2px ;
}
body::-ms-scrollbar-thumb{
    background-color:rgba(0,0,0,0.60);
    outline:1px solid slategrey;
}

/*header*/
.header{
    postion:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background:rgb(255,255,255);
}
ul li,a{
  list-style: none;
  text-decoration: none;
   color:#00CDCD;
}
.header_list li{
   display: inline-block;
}
ul li#the_main{
    padding-right:50px;
    font-size:20px; 
}
#the_main{
  padding-top:1.5%;
 }
.web_title{
    font-size:2.5em;
    float:left;
    padding-left:15%;
    padding-top:0.8%;
    color:rgba(225,238,240,0.80);
    text-shadow: 4px 4px 2px rgba(96,33,87, 0.8);
}
/*END OF HEADER*/
div .container{
    height:850px;
    background-color:#00CDCD;
    border: 1px solid #00CDCD;

}
h2,.welcome{
    margin-top:24%;
    font-size:4em;
    font-weight: bold;
    color:rgba(255,255,255,0.70);

}
.scrollup{
    position: relative;
    cursor: pointer;

}
.fa-arrow-up{
    position:fixed;
    top:90%;
    background-color:#fff;
    color:rgb(255,159,28);
    background:linear-gradient(-45deg, transparent 32px, rgb( 0,21,38) 0);
    left:94%;
    font-size: 1.5em;
    border-radius:50em;
    padding:0.5em 0.5em 0.5em 0.5em;
    box-shadow: rgba(0,0,0,0.2)-3px 2px 8px;
}
.next_page{
    position: relative;
    cursor: pointer;
}
a.fa-arrow-right{
    position:fixed;
    top:50%;
    background-color:#fff;
    color:rgba(0,0,0,0.8);
    background:rgba(234,234,1,0.4);
    left:94%;
    font-size: 1.5em;
    border-radius:0 50% 0 50%;
    padding:0.5em 0.5em 0.5em 0.5em;
    box-shadow: rgba(0,0,0,0.2)-3px 2px 8px;
}

.welcome:hover {
  background-position:top;
}
.word{
    margin-top:6%;
    font-size:1.8em;
    font-weight: bold;
    color:rgba(255,255,255,0.70);

}
input#search{
    margin-top: 5%;
    width:53%;
    height:50px;
    font-size:1.5em;
    font-weight:bold;
    color:#ffffff;
    background-color:rgba(255,255,255,0.10);
    border:1px solid rgba(255,255,255,0.30);
    border-radius: 6px;
    border-right: none;
    }
::-webkit-input-placeholder {
  
  color:rgba(255,255,255,0.70);
  font-style: italic;
  font-size:1.2em;
}
::-moz-placeholder {
  color: rgba(255,255,255,0.70);
   font-style: italic;
   font-size:1.2em;
}
:-ms-input-placeholder {
  color: rgba(255,255,255,0.70);
   font-style: italic;
   font-size:1.2em;
}
:-moz-placeholder {
  color: rgba(255,255,255,0.70);
   font-style: italic;
   font-size:1.7em;
}
#ico{
    border:1px solid rgba(255,255,255,0.30);
    color:rgba(255,255,255,0.70);
    background-color:rgba(255,255,255,0.10);
    font-size:4em;
    height:50px;
    width:5%;
    border-radius: 6px;
    text-align: center;
    border-left:none;
    padding-top:-3px;
    padding-bottom:5px;
}
.services_details{
    display: inline-block;
}
div .services{
  height:80%;
  width:100%;
  background-color: rgb(255,255,255);
}

.services_details{
   margin-left:3%;
   margin-right:3%;
   padding-top:3%;
   border:1px solid rgb(255,255,255);
   font-family:'Roboto-Black';
}
.the_garden{
  background:linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.50)),url(../img/Nature.jpg);
  background-size: cover;
  width:100%;
  height:400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.nature{
      margin-top: 8%;
      font-size:3em;
      font-weight: bold;
      color:rgb(125,208,189);
}

h3{
    font-size:1.7em;
    padding-right:40px;
}
#services{
    font-size: 3.5em;
    color:#00CDCD;
    display:inline-block;

}
.fa-code{
    font-size:4em;
    color:rgb(104,145,161);
}
.fa-terminal{
    font-size:4em;
    color:rgb(170,224,58);
}
.fa-shield{
    font-size:4em;
    color:rgb(243,218,11);
}
.fa-keyboard-o{
    font-size:4em;
        color:rgb(65,153,116);
}
.fa-desktop{
    font-size:4em;
    color:rgb(183,127,215);
}
.fa-users{
    font-size:4em;
    color:rgb(190,178,138);
}
.description{
    margin-top:10%;
    font-size: 1.4em;
    margin-bottom:35%;
    font-family:'Roboto-Thin';
}
.water{
     color:rgb(125,208,189);
     margin-top: 8%;
      font-size:3.1em;
      font-weight: bold;
}
.water-fall{
  background:linear-gradient(rgba(49,99,125,0.60), rgba(49,99,125,0.60)),url(../img/water-fall.jpg);
  background-size: cover;
  width:100%;
  height:400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.team{
    width:100%;
    height:500px;
    background:#fff;
}
.profile{
    width:20%;
    margin-top: 3%;
    height:190px;
    padding:0 2em 0 2em;
}
.webdeveloper{
    border:1px solid black;
    color:#2da;
}
.webdeveloper{
  border:1px solid rgba(0,0,0,0.2);
  border-bottom:150px solid rgba(0,0,0,0.6);
  padding:4em 2em 2em 2em;
  border-radius:0 2% 0 2%;
}
.hacker{
  border:1px solid rgba(0,0,0,0.2);
  border-bottom:150px solid rgba(0,0,0,0.6);
  padding:4em 2em 2em 2em;
  border-radius:0 2% 0 2%;
}
.blogger{
  border:1px solid rgba(0,0,0,0.2);
  border-bottom:150px solid rgba(0,0,0,0.6);
  padding:4em 2em 2em 2em;
  border-radius:0 2% 0 2%;
}
.webdesigner{
  border:1px solid rgba(0,0,0,0.2);
  border-bottom:150px solid rgba(0,0,0,0.6);
  padding:4em 2em 2em 2em;
  border-radius:0 2% 0 2%;
}
#social{
    font-size: 2em;
    margin-top:6%;
    color:rgba(0,0,0,0.50);
    transition:1s, 1s, color;
  -webkit-transition:1s, 1s, color;
    -moz-transition:1s, 1s, color;
    -ms-transition:1s, 1s, color;
}
#social:nth-child(1):hover{
    color:#0944dc;
}
#social:nth-child(2):hover{
    color:#44aff3;
}
#social:nth-child(3):hover{
    color:#3b260f;
}

.park{
  background:linear-gradient(rgba(255,142,56,0.30), rgba(255,142,56,0.40)),url(../img/park.jpg);
  background-size: cover;
  width:100%;
  height:400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.contact_us{
    width: 100%;
    height:80%;
    background-color:#7dd0d7;
}
input#email{
    margin-top:7%;
}
#email, textarea{
  padding:20px;
  border:1px solid rgba(0,205,205,0.40);
  width:500px;
  background-color:rgba(0,205,205,0.40);
  box-shadow: rgba(0,0,0,0.60)0px 0px 8px;
  -ms-box-shadow: rgba(0,0,0,0.60)0px 0px 8px;
   border-radius: 3px;
   color:#ffffff;
}
textarea{
  width:600px;
  height:150px;
  max-width: 600px;
  line-height:18px;
  margin-top:4%;
}
input:hover, textarea:hover,
input:focus, textarea:focus{
    border-color:1px solid #c9c9c9;
    box-shadow: rgba(0,0,0,0.2)0px 0px 8px;
    -ms-box-shadow: rgba(0,0,0,0.2)0px 0px 8px;
}

input.btn{
   width:20%;
   height:70px;
   border-radius:5px;
   font-size:1.5em;
   color:#fff;
   overflow:hidden;
   background-color:rgba(205,0,43,0.60);
   border:1px solid rgba(205,0,43,0.60);
}
.submit{
     margin-top:2%;
     margin-bottom:1%;
}
.home{
  background:linear-gradient(rgba(255,76,76,0.30), rgba(255,76,76,0.30)),url(../img/home.jpg);
  background-size: cover;
  width:100%;
  height:400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.home_text{
      margin-top: 8%;
      font-size:3em;
      font-weight: bold;
      color:rgb(125,208,189);
}
.slides_writing{
    background-color:#7dd0d7;
    height:60%;
}
#map_canvas{
    width:100%;
    height:400px;
    background-color:#ccc;
}
.footer_l{
    background-color:rgba(2,2,53,0.5);
    height:60px;
}
.power{
    font-size:1em;
    text-align:left;
    margin-left:3%;
    color:#fff;

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
